

.my-home-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #FFF;

  section {
    margin-bottom: 10px;
  }
  .section-title {
    position: relative;
    padding: 12px 0 16px;
    margin-bottom: 10px;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0px;
      width: 40px;
      height: 3px;
      background: #580010;
      transform: translateX(-50%);
    }
  }
  .section-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    .section-item {
      width: 23%;
    }
  }
  main {
    flex: 1;
  }
  .w-content {
    width: 900px;
    margin: 0 auto;
  }
}