.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
@header-navbar-padding-y: 0.5rem;
@header-navbar-padding-x: 1rem;

.header {
  .fixed;
  background-color: #343a40;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: @header-navbar-padding-y @header-navbar-padding-x;
  &-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-left {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }
  &-collapse {
    flex-basis: 100%;
    flex-grow: 1;

    display: block;
    transition: height 1s ease;
    height: 120px;
    overflow: hidden;
    a {
      color: #fff;
      display: block;
      padding: 0;
      width: 100%;
      text-align: center;
      height: 40px;
      line-height: 40px;
      flex-basis: 40px;
    }
  }

  &-collapse-not-show {
    height: 0;
  }

  &-navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    &-icon {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      background: 50% / 100% 100% no-repeat;
      background-image: url("../../images/mulu.png");
    }
  }
}

@media (min-width: 768px) {
  .header {
    &-content {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    &-collapse {
      flex-basis: auto;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      height: auto;
      a {
        flex-basis: auto;
        padding: 0.5rem 1rem;
        width: auto;
        height: auto;
        line-height: normal;
      }
    }

    &-navbar-toggler {
      display: none;
    }
  }
}
